<div class style= "margin:15px">

  <br>
  <br>
  <br>
  <br>

  <div class='col-sm-6 col-sm-offset-3'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col-sm-6'>
            <h4>
              Phase 2:
              <small class="text-muted">Upload File</small>
            </h4>
          </div>
        </div>
      </div>
    <div class='panel-body'>
      <div class="col-sm-4 col-centered" >
          <%= form_tag import_phase2s_path, multipart: true do %>
      <div class="col-sm-2 col-centered pull-right" >
        <br>
        <%= file_field_tag :file %>
        <br>
        <%= submit_tag "Import", class: "btn btn-default" %>
        <br>
        <br>
      </div>
      </div>
    </div>
  </div>
<% end %>
  <button type="button" class="btn btn-default pull-center">
    <%= link_to "Back", phase2s_path %>
  </button>
</div>