

<div class="container">
    
    <div class="featurette" id="about">
        <a href="https://iamtalented.sg/" target="_blank">
        <img class="featurette-image img-circle img-responsive pull-right" src="/assets/IAT.png">
        </a>
        <h2 class="featurette-heading">I Am Talented!
        <span class="text-muted">A Social Empowerment Initiative for Youths</span>
        </h2>
        <p class="lead">Allows students to explore areas of interest in non-academic pathways, through self-discovery, skills-based workshops. In this journey, students uncover their talents (“discovery”), hone these talents (“diligence”), and also overcome challenges (“determination”).</p>
    </div>
    
</div>

<h5 class="text-muted" style="text-align:center">
    Try on the <b>Sorting Hat!</b>
</h5>
    <div class="image" style="text-align:center">
    <%= link_to phase1s_path do %>
       <%= image_tag "Phase11.png" %>
    <% end %>
    <%= link_to phase2s_path do %>
       <%= image_tag "Phase22.png" %>
    <% end %>
</div>
